@import "functions.scss";
@import "mixins.scss";
@import "default_variables.scss";

$btn-sizes: (
  "s": 0.5rem 2rem,
  "m": 0.7rem 4rem,
  "l": 1rem 6rem,
);

.btn {
  cursor: pointer;
  border-radius: 2rem;
  font-weight: weight(bold);
  border-style: solid;
  padding: map-get($btn-sizes, m);

  &-outlined {
    background: transparent;
    color: $bright-blue;
    border-color: $bright-blue;

    &:hover,
    :focus {
      @include hover_focus;
    }
    &:disabled {
      color: grey;
      border-color: grey;
    }
    &:disabled:hover {
      background-color: transparent;
      box-shadow: none;
      cursor: default;
    }
  }
  &-contained {
    background: $bright-blue;
    color: white;
    border-color: $second-color;
    &:hover,
    :focus {
      @include hover_focus;
      background: lighten($bright-blue, 10%);
    }
    &:disabled {
      color: darken(white, 30%);
      background: darken($bright-blue, 30%);
    }
    &:disabled:hover {
      color: darken(white, 30%);
      background: darken($bright-blue, 30%);
      box-shadow: none;
      cursor: default;
    }
  }
}


.small {
  padding: map-get($btn-sizes, s);
}

.medium {
  padding: map-get($btn-sizes, m);
}

.large {
  padding: map-get($btn-sizes, l);
}